/* you can add your own styles in this file */

/* *, *:before, *:after {
  border: 1px solid lightblue;
} */

body {
  /* 
    the var(--my-variable) syntax is a css variable
    https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables
    they aren't properly supported by all browsers yet so postcss turns them into normal css for you
  */
  color: #777;
  background-color: rgba(255,255,255,.05);
  margin: 1rem auto;
  max-width: 30rem;
  font-family: 'Roboto Mono', monospace;
}
:root {
}

/* ICON */
.icon-width {
  width: 5rem;
}

.link {
  margin-left: 1.2rem;
  color: #777;
  text-decoration: underline;
  font-size: .9rem;
}

.link:first-child {
  margin-left: 0;
}

.link:visited {
  color: #777;
}

.link--active {
  font-weight: 700;
  text-decoration: none;
}

.link--active:visited {
  font-weight: 700;
  text-decoration: none;
}